body{
    .habilidades{
        text-align: center;
        margin: 5%;
        font-size: 400%;
    }
    li{
        list-style: none;
    
        .habi{
            display: flex;
            flex-direction: row;
            img{
                margin: 3%;
                border-radius: 100%;
                width: 50%;
            }
            p{
                margin: 10%;
            }
        }    
    }
}

